html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    position: relative;
}

header {
    box-shadow: 0 0 30px rgb(153, 0, 255),0 2px 20px rgb(0, 183, 255);
    display: flex;
    justify-content:space-between;
    height: 120px;
}

.text-header {
    color: white;
    font-size:clamp(25px,5vw,50px);
    padding: 20px;
    padding-left: 50px;
    align-content: center;
}


.logo {
    z-index:-1;
    width: auto;
}

@media (max-width:500px) {
    header {
        height: 100px;
    }
    .sub-body1 {
        margin-top: 20px;
    }
}
.wapp {
    position: fixed;
    left: 15px;
    bottom: 25px;
    z-index: 700;
}


.wapp img{
    width: clamp(60px,5vw,90px);
    height:clamp(60px,5vw,90px);
    
}

.sidebar {
    position: fixed;
    top: -20px;
    right:-100%;
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:clamp(5px,3vw,50px);
    color: white;
    background-color: rgba(0, 0, 0, 0.74);
    list-style-type: none;
    z-index: 998;
    padding: 0;
    transition: right 500ms ease-in-out;
}

.main-content {
    filter: none;
    position: relative;
    z-index: -999;
    transition: filter 500ms ease-in-out;
}
.main-content.blur {
    z-index: 1;
    filter: blur(5px);
}

.sidebar.open {
    right: 0;
}


.sidebar li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:clamp(50px,5vw,70px);
    transition: scale 100ms ease-in-out;
}

.sidebar li:hover {
    scale:1.1;

}

@media (max-width:700px) {
    .sidebar {
        width: 100%;
        gap: 10px;
    }
    .sidebar li{
        width: 100%;

    }
}

.sidebar li a{
    color: white;
    text-decoration: none;
    font-size:clamp(30px,5vw,48px);
}

.sidebar i {
    margin-right: 5px;
    font-size:clamp(24px,5vw,48px);
}


.box {
    width:clamp(60px,5vw,80px);
    height:clamp(80px,5vw,80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    position:relative;
    top: 20px;
    right: 0;
    z-index: 999;
    filter: none;
}

.box.move {
    position: fixed; 
    right: 0;
    top: 20px;
}

.linie1 {
    border-radius: 10px;
    width: 100%;
    height: 8px;
    background-color: rgb(255, 255, 255);
    transition: transform 600ms ease-in-out,translate 600ms ease-in-out,scale 600ms ease-in-out;
}

.linie1.cross {
    transform: rotate(45deg);
    translate:0 18px;
}
.linie2.cross {
    transform: rotate(-45deg);
}
.linie3.cross {
    opacity: 0;
}

.linie2 {
    border-radius: 10px;
    width: 100%;
    height: 8px;
    background-color: rgb(255, 255, 255);
    transition: transform 600ms ease-in-out,translate 600ms ease-in-out,scale 600ms ease-in-out;
}

.linie3 {
    border-radius: 10px;
    width: 100%;
    height: 8px;
    background-color: rgb(255, 255, 255);
    transition:opacity 400ms ease-in-out;
   
}

@media (max-width:600px){
    .linie1 {
        width: 60%;
        height: 5px;
    }
    .linie2 {
        width: 60%;
        height: 5px;
    }
    .linie3 {
        width: 60%;
        height: 5px;
    }
    
    .box {
    gap: 7px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    position:relative;
    top: 10px;
    right: 0;
    z-index: 999;
    filter: none;
    }

    .linie1.cross {
    transform: rotate(45deg);
    translate:0 12px;
    }
    .linie2.cross {
    transform: rotate(-45deg);
    }
    .linie3.cross {
    opacity: 0;
    }

    .box.move {
    position: fixed; 
    right: 0;
    top: 10px;
    }
    .wapp {
        bottom:10px;
    }
}

/* aici se termina sectiunea header */

.main-body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-preturi{
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 30px;
    width: 90%;
    height: 80%;
    z-index: 990;
    position: relative;
}

@media(max-width:700px){
    .container-preturi{
        gap: 20px;
        width: 90%;
    }
}

.ambientale-dedicate{
    grid-column:1/5;
    grid-row: 5/9;
    background-image: url(images/poza7.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    background-position-y: 35%;
}
.text-pret-dedicate{
    font-size: clamp(20px,4vw,40px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap:0;
    padding-left: 2px;
    padding-right: 2px;
}

.ambientale-dedicate:hover .lista-pret{
    opacity: 1;
    filter: none;
}
.ambientale-dedicate:hover .text{
    opacity: 0;
}
.ambientale-normale{
    position: relative;
    grid-row: 1/5;
    grid-column: 3/5;
    background-image: url("images/normale1.webp");
    background-position: center;
    background-size: cover;
}
.ambientale-normale:hover .lista-pret{
    opacity: 1;
    filter: none;
}
.ambientale-normale:hover .text{
    opacity: 0;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white;
    z-index: 992;
    font-size:clamp(24px,5vw,34px);
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.367);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition:all 600ms ease-in-out;
}
.stelute{
    position: relative;
    grid-row: 1/5;
    grid-column: 1/3;
    background-image: url(images/stelute2.webp);
    background-size: cover;
    background-position-y: 45%;
}
/*
.stelute::before{
    content: "Preturi";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1000;
}*/

.lista-pret{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0;
    transition:all 500ms ease-in-out;
    filter: none;
}
.text-pret{
    font-size: clamp(20px,4vw,40px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 20px;
}

.ambientale-normale .text-pret{
    font-size: clamp(17px,4vw,36px);
}

.stelute:hover .lista-pret{
    opacity: 1;
    filter: none;
}
.stelute:hover .text{
    opacity: 0;
}

@media(max-width:500px){

.stelute:focus .lista-pret{
    opacity: 1;
    filter: none;
}
.stelute:focus .text{
    opacity: 0;
}
.text-pret{
    gap: 5px;
}
}

.container-preturi > div{
    transition: all 500ms ease-in-out;
    border-radius: 10px;
}

.container-preturi > div:hover:not(:first-child){
    scale: 1.07;
}

.ambientale-dedicate:hover{
    scale: 1.05;
}


/* aici incepe sectiunea de footer */

.footer {
    position: relative;
    width: 100vw;
    padding-top: 10px;
    height:fit-content;
    background-color: black;
    color: white;
    z-index: 900;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
}

.follow{
    font-size: clamp(20px, 5vw,40px);
    margin-left: 15px;
    text-align:left;
    width: fit-content;
}

.icons {
    display: flex;
    gap: 20px;
    justify-content: left;
    margin-top: 10px;
    margin-top: 16px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0px;
    margin-right: 10px;
}

.footer img {
    width:clamp(40px,5vw,60px);
}

.autor {
    margin-top: 42px;
    font-size:clamp(20px,4vw,30px);
    text-align: center;
    padding-bottom: 10px;
    opacity: 0.8;
}
